# AWS Region configuration
AWS_REGION=us-east-1

# DynamoDB Table Name
TABLE_NAME=PlayersDashboard-Data

# SQS Queue URL for Async Processing (Standard or FIFO)
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/PlayersQueue

# Amazon SES Sender Email Address
SENDER_EMAIL=noreply@example.com
