# Dependencies
node_modules/
.pnpm-store/

# Production output
dist/
coverage/
*.lcov
*.zip
cdk.out/
**/cdk.out/

# Local env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
.system_generated/
